In [39]:
import pandas as pd
import os

In [40]:
academy_file = os.path.join("students_complete.csv")
students_df = pd.read_csv(academy_file)
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [41]:
students_df.dtypes

Student ID        int64
name             object
gender           object
grade            object
school           object
reading_score     int64
math_score        int64
dtype: object

In [42]:
students_df.describe

<bound method NDFrame.describe of        Student ID                 name gender grade              school  \
0               0         Paul Bradley      M   9th   Huang High School
1               1         Victor Smith      M  12th   Huang High School
2               2      Kevin Rodriguez      M  12th   Huang High School
3               3    Dr. Richard Scott      M  12th   Huang High School
4               4           Bonnie Ray      F   9th   Huang High School
5               5        Bryan Miranda      M   9th   Huang High School
6               6        Sheena Carter      F  11th   Huang High School
7               7         Nicole Baker      F  12th   Huang High School
8               8         Michael Roth      M  10th   Huang High School
9               9       Matthew Greene      M  10th   Huang High School
10             10     Andrew Alexander      M  10th   Huang High School
11             11        Daniel Cooper      M  10th   Huang High School
12             12      Brittney Walker      F   9th   Huang High School
13             13         William Long      M   9th   Huang High School
14             14         Tammy Hebert      F  10th   Huang High School
15             15    Dr. Jordan Carson      M  11th   Huang High School
16             16        Donald Zamora      M   9th   Huang High School
17             17    Kimberly Santiago      F   9th   Huang High School
18             18        Kevin Stevens      M   9th   Huang High School
19             19         Brandi Lyons      F   9th   Huang High School
20             20           Lisa Davis      F  10th   Huang High School
21             21        Kristen Lopez      F  10th   Huang High School
22             22     Kimberly Stewart      F  11th   Huang High School
23             23   Christopher Parker      M   9th   Huang High School
24             24     Chelsea Griffith      F  11th   Huang High School
25             25         Cesar Morris      M   9th   Huang High School
26             26       Melanie Decker      F   9th   Huang High School
27             27       Tracey Oconnor      F  10th   Huang High School
28             28          Kelly James      F  11th   Huang High School
29             29         Nicole Brown      F  12th   Huang High School
...           ...                  ...    ...   ...                 ...
39140       39140   Cheyenne Hernandez      F   9th  Thomas High School
39141       39141    Jonathan Sullivan      M  10th  Thomas High School
39142       39142  Deborah Higgins DDS      F  10th  Thomas High School
39143       39143       Steven Jackson      M  11th  Thomas High School
39144       39144     Cristian Webster      M  12th  Thomas High School
39145       39145           Audrey Fry      F  10th  Thomas High School
39146       39146      Michael Carroll      M   9th  Thomas High School
39147       39147      Raymond Hawkins      M  10th  Thomas High School
39148       39148   Christopher Wilson      M  10th  Thomas High School
39149       39149      Glenda Fletcher      F  11th  Thomas High School
39150       39150    Jennifer Hamilton      F  11th  Thomas High School
39151       39151     Shannon Williams      F  10th  Thomas High School
39152       39152           Lori Moore      F   9th  Thomas High School
39153       39153      William Hubbard      M   9th  Thomas High School
39154       39154      Bradley Johnson      M  12th  Thomas High School
39155       39155          John Brooks      M  10th  Thomas High School
39156       39156  Stephanie Contreras      F  11th  Thomas High School
39157       39157     Kristen Gonzalez      F   9th  Thomas High School
39158       39158        Kari Holloway      F  10th  Thomas High School
39159       39159     Kimberly Cabrera      F  11th  Thomas High School
39160       39160         Katie Weaver      F  11th  Thomas High School
39161       39161          April Reyes      F  10th  Thomas High School
39162       39162          Derek Weeks      M  12th  Thomas High School
39163       39163           John Reese      M  11th  Thomas High School
39164       39164       Joseph Anthony      M   9th  Thomas High School
39165       39165         Donna Howard      F  12th  Thomas High School
39166       39166            Dawn Bell      F  10th  Thomas High School
39167       39167       Rebecca Tanner      F   9th  Thomas High School
39168       39168         Desiree Kidd      F  10th  Thomas High School
39169       39169      Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
5                 94          94
6                 82          80
7                 96          69
8                 95          87
9                 96          84
10                90          70
11                78          77
12                64          79
13                71          79
14                85          67
15                94          88
16                88          55
17                74          75
18                64          69
19                89          80
20                91          89
21                90          77
22                99          84
23                81          68
24                85          73
25                92          70
26                63          85
27                80          58
28                73          55
29                90          88
...              ...         ...
39140             76          99
39141             86          93
39142             96          83
39143             71          93
39144             77          87
39145             94          74
39146             69          95
39147             88          81
39148             89          89
39149             82          93
39150             80          75
39151             84          73
39152             98          84
39153             80          75
39154             91          71
39155             92          98
39156             79          95
39157             79          94
39158             87          90
39159             85          72
39160             89          86
39161             70          84
39162             94          77
39163             90          75
39164             97          76
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]>

In [43]:
students_df["name"].value_counts()

Michael Smith           26
Michael Williams        16
David Johnson           16
David Smith             15
Daniel Johnson          14
Michael Brown           13
Michael Johnson         13
Michael Martinez        12
Lisa Smith              11
Jessica Smith           11
Jennifer Anderson       11
Michelle Smith          11
John Smith              10
John Johnson            10
Michael Miller          10
Amanda Johnson          10
James Smith             10
Michael Davis           10
Robert Jones            10
Thomas Smith            10
Matthew Smith            9
William Smith            9
Jessica Johnson          9
Christopher Williams     9
Robert Smith             9
David Miller             9
Jennifer Johnson         9
James Williams           9
Michael Clark            9
Robert Johnson           8
                        ..
James Holmes             1
Sonya Juarez             1
John Espinoza            1
Terry Ramsey             1
Jason Lamb               1
Melissa Yoder            1
Douglas Baker            1
Elizabeth Duffy          1
Michelle Gomez           1
Alyssa Stanley           1
Travis Diaz              1
Catherine Lucas          1
Justin Valenzuela        1
Adam Garcia              1
Brianna Diaz             1
Jason Castillo           1
Diamond Pearson          1
Dakota Marshall          1
Christopher Novak        1
Katherine Booth          1
Steven Hoover MD         1
Robert Reynolds          1
Colleen Edwards          1
Patricia Shepard         1
Joanne Robinson          1
Shelby Cain              1
Rachel Wolf              1
Gabriella Wood           1
Jennifer Obrien          1
Keith Young              1
Name: name, Length: 32715, dtype: int64

In [44]:
students_df["school"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school, dtype: int64

In [45]:
total_students = students_df["name"].count()
total_students

39170

In [47]:
total_math_score = students_df["math_score"].sum()
total_math_score

3093857

In [48]:
average_math_score = (total_math_score / total_students)
average_math_score

78.985371457748272

In [49]:
total_reading_score = students_df["reading_score"].sum()
total_reading_score

3207155

In [50]:
average_reading_score = (total_reading_score / total_students)
average_reading_score

81.877840183814143

In [51]:
students_df.shape

(39170, 7)

In [52]:
type(False)

bool

In [53]:
booleans = []
for length in students_df.reading_score:
    if length >= 60:
        booleans.append(True)
    else:
        booleans.append(False)

In [54]:
booleans[0:10]

[True, True, True, True, True, True, True, True, True, True]

In [55]:
len(booleans)

39170

In [56]:
passed_fail_reading = pd.Series(booleans)
passed_fail_reading.head()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [57]:
students_df[passed_fail_reading]

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,23,Christopher Parker,M,9th,Huang High School,81,68
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,25,Cesar Morris,M,9th,Huang High School,92,70
26,26,Melanie Decker,F,9th,Huang High School,63,85
27,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,28,Kelly James,F,11th,Huang High School,73,55
29,29,Nicole Brown,F,12th,Huang High School,90,88
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,39155,John Brooks,M,10th,Thomas High School,92,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [58]:
passed_fail_reading = students_df.reading_score >= 60
passed_fail_reading.head()

0    True
1    True
2    True
3    True
4    True
Name: reading_score, dtype: bool

In [59]:
passed_fail_reading.value_counts()

True    39170
Name: reading_score, dtype: int64

In [60]:
booleans_2 = []
for length in students_df.math_score:
    if length >= 60:
        booleans_2.append(True)
    else:
        booleans_2.append(False)

In [61]:
booleans_2[0:10]

[True, True, True, False, True, True, True, True, True, True]

In [62]:
len(booleans_2)

39170

In [63]:
passed_fail_math = pd.Series(booleans_2)
passed_fail_math.head()

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [64]:
passed_fail_math = students_df.math_score >= 60
passed_fail_math.head()

0     True
1     True
2     True
3    False
4     True
Name: math_score, dtype: bool

In [65]:
passed_fail_math.value_counts()

True     36211
False     2959
Name: math_score, dtype: int64

In [66]:
percentage_reading_pass = (39170 / total_students) * 100
percentage_reading_pass

100.0

In [67]:
percentage_math_pass = (36211 / total_students) * 100
percentage_math_pass

92.445749297932096

In [68]:
overall_rate = (percentage_reading_pass + percentage_math_pass) / total_students
overall_rate

0.0049130903573635963

In [70]:
district_summary = pd.DataFrame({"Total Schools" :[0], "Total Students" :[total_students], "Total Budget" :[0], "Average Math Score" :[average_math_score],
             "Average Reading Score" :[average_reading_score], "% Passing Math" :[percentage_math_pass],
             "% Passing Reading" :[percentage_reading_pass], "Overall Passing Rate" :[overall_rate]},
            columns=["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", 
                     "% Passing Math", "% Passing Reading", "Overall Passing Rate"])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,0,39170,0,78.985371,81.87784,92.445749,100.0,0.004913