In [1]:
import pandas as pd
import os

In [2]:
academy_file = os.path.join("schools_complete.csv")
academy_df = pd.read_csv(academy_file)
academy_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
academy_df.dtypes

School ID     int64
name         object
type         object
size          int64
budget        int64
dtype: object

In [4]:
academy_df.describe

<bound method NDFrame.describe of     School ID                   name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130>

In [5]:
academy_df["name"].value_counts()

Griffin High School      1
Holden High School       1
Rodriguez High School    1
Wright High School       1
Johnson High School      1
Hernandez High School    1
Thomas High School       1
Bailey High School       1
Shelton High School      1
Ford High School         1
Pena High School         1
Wilson High School       1
Figueroa High School     1
Cabrera High School      1
Huang High School        1
Name: name, dtype: int64

In [6]:
total_schools = academy_df["name"].count()
total_schools

15

In [7]:
total_budget = academy_df["budget"].sum()
total_budget

24649428